{% extends "base.html" %}

{% block styles %}
<link  rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
{% endblock %}

{% block content %}
<table>
    <tr>
        <th>URL</th>
        <th>Last played</th>
        <th>Progress</th>
    </tr>
    {% for video in videos %}
    <tr>
        <td><a href="{{ url_for('load', url=video.page_url) }}">{{ video.title }}</a></td>
        <td>{% if video.last_played %} {{ video.last_played.isoformat(" ", "seconds") }} {% endif %}</td>
        <td>{{ video.time }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
